

.border{
    border-left: 9px solid rgb(228, 213, 77);
}


.top-text{

    font-size: 25px;
    margin-left:9%;

    
    margin-bottom: 30%;
    padding-bottom:-10%;
}


.top{
    display: flex;

}

h1{

    font-family: 'Fira Sans', sans-serif;
    font-family: 'PT Serif', serif;
}
.top div{
    width: 50%;
}

.top img{
    width: 70%;
    padding-left: 10%;
}

h4{
    background-color:tomato;
    height: 7%;
    width: 25%;
    margin-right: 75%;
    padding-left: 9%;
    padding-top: 1%;
    border: 3px solid rgb(255, 252, 252);
    border-radius: 9px;
}

span{
    color: tomato;
}

.middle-top{
    text-align: center;
    font-size: 2em;
}

.middle-bottom{
    display: flex;
    margin-left: 8%;
}
.middle-bottom img{
    width: 50%;
}

.middle-bottom p{
    text-align: justify;
}

.left{
    background-color: rgb(247, 226, 247);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.middle{
    background-color: rgb(187, 238, 238);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.right{
    background-color: rgb(235, 228, 228);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.last-top{
    margin-top: 17%;
    display: flex;

}

.half{
    width: 50%;
    margin-left: 10%;
}

#last-top-text{
    padding-right: 35%;
    
}
.last-top h3{
    background-color: tomato;
    height: 9%;
    width: 80%;
    padding-left: 11%;
    padding-top: 2%;
    border: 5px solid white;
    border-radius: 9px;
}

.last-bottom{
    display: flex;
    margin-top: 17%;
    margin-bottom: 7%;
    
}

.last-bottom h3{
    background-color: tomato;
    padding-top: 2% ;
    height: 9%;
    padding-left: 9%;
    width: 45%;
    
    border: 5px solid white;
    border-radius: 9px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 15%;
}

#center{
    text-align: center;
    color: tomato;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'PT Serif', serif;
    font-size: 2em;
    margin-bottom: 8%;
}

#last-img{
    width: 60%;
    border: 5px solid white;
    border-radius: 15px;
}

.app-bottom{
    display: flex;
    margin-left: 10%;
}

.app-text{
    margin-left: 9%;
}