#top-head{
    color: brown;
}

.top-text{

    font-size: 25px;
    margin-left:9%;

    
    margin-bottom: 30%;
    padding-bottom:-10%;
}


.top{
    display: flex;

}

h1{

    font-family: 'Fira Sans', sans-serif;
    font-family: 'PT Serif', serif;
}
.top div{
    width: 50%;
}

.top img{
    width: 70%;
    padding-left: 10%;
}

h4{
    background-color:rgb(238, 63, 63);
    margin-right: 75%;
    padding-left: 5%;
    color: white;
    border: 3px solid rgb(145, 140, 140);
    border-radius: 10px;
}

span{
    color: tomato;
}

.middle-top{
    text-align: center;
    font-size: 2em;
}

.middle-bottom{
    display: flex;
    margin-left: 8%;
}
.middle-bottom img{
    width: 50%;
}

.middle-bottom p{
    text-align: justify;
}

.left{
    background-color: rgb(247, 226, 247);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.middle{
    background-color: rgb(187, 238, 238);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.right{
    background-color: rgb(235, 228, 228);
    margin-right: 6%;
    padding-left: 3%;
    border: 5px solid white;
    border-radius: 30px;
}

.last-top{
    margin-top: 17%;
    display: flex;

}

.half{
    width: 50%;
    margin-left: 10%;
}

#last-top-text{
    padding-right: 35%;
    
}
.last-top h3{
    background-color: tomato;
    height: 9%;
    width: 80%;
    padding-left: 11%;
    padding-top: 2%;
    border: 5px solid white;
    border-radius: 9px;
}

.last-bottom{
    display: flex;
    margin-top: 17%;
    
}

.last-bottom h3{
    background-color: tomato;
    padding-top: 2% ;
    height: 9%;
    padding-left: 9%;
    width: 45%;
    
    border: 5px solid white;
    border-radius: 9px;
}

#last-img{
    width: 60%;
    border: 5px solid white;
    border-radius: 15px;
}